<div class="body">
    <h3>Más sobre mi:</h3>
    <div class="allabaut">
        <div class="codeaboutme">
            <pre><code>const aboutMe = &#123;
    completeName: "Iago González Valverde",
    code: [Javascript, Typescript, HTML, CSS, SQL],
    technologies: &#123;
        frontEnd: &#123;
            Typescript: ["Angular"],
            css: ["Bootstrap"]
        &#125;,
        backEnd: &#123;
            js: ["Node.js", "Express"]
        &#125;,
        databases: ["MySQL", "MongoDB"],
        otherLibraries: ["Sequelize", "Mongoose", "Multer", "SweetAlert2", "Toastify", "Nodemailer", "Googleapis", "Particles.js"]
    &#125;,
    currentLearning: ["React", ".NET"]
&#125;;</code></pre>
        </div>
        <div class="bonusabout">
            <span class="arrow" [class]="{show: show}" (click)="showContent()"><fa-icon
                    [icon]="faChevronDown"></fa-icon></span>
            @if(show) {
            <div class="hiddenabbout">
                <p><strong>IDIOMAS:</strong> Inglés - Castellano - Gallego</p>
                <p><strong>OTRAS CARACTERÍSTICAS:</strong></p>
                <ul>
                    <li>Carnet de conducir.</li>
                    <li>Facilidad de aprendizaje.</li>
                    <li>Polivalente y perfeccionista.</li>
                    <li>Eficiente liderazgo en trabajos de grupo.</li>
                    <li>Afinidad al manejo de maquinaria y software.</li>
                    <li>Afinidad a trabajos repetitivos o tediosos.</li>
                </ul>
            </div>
            }
        </div>
    </div>
</div>