<div id="particles-js">
</div>
<div class="container">
  <!-- Componente1 => con presentación -->
  <app-header></app-header>
  <!-- Componente2 => 2 cuadros, uno con el bloque de código de las tecnologías y el otro oculto en un desplegable con los idiomas y las características extras -->
  <app-about></app-about>
  <!-- Componente3 => 2 cuadros paralelos, uno con la formación y otro con la exp -->
  <app-story></app-story>
  <!-- Componente4 => lista de proyectos (Vídeos de youtube con la explicación de los mismos: uno del parque y otro del portf) -->
  <app-proyects></app-proyects>
  <!-- Footer directamente aquí -->
</div>
<div class="footer">
  <nav>
    <ul>
      <li><a href="https://www.linkedin.com/in/iago-gonz%C3%A1lez-valverder-442235332" target="_blank"><fa-icon
            [icon]="faLinkedin"></fa-icon></a></li>
      <li><a href="https://github.com/Elegimba" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a></li>
    </ul>
  </nav>
</div>