:root {
    --primary-color: #FFA500;
    /* Amarillo-anaranjado */
    --secondary-color: #000000;
    /* Negro */
    --background-color: #444553;
    /* Gris claro */
    --text-color: #000000;
    /* Negro para textos */
    --accent-color: #CCCCCC;
    /* Gris medio para acentos */
    --font-primary: 'Roboto Mono', monospace;
    --font-secondary: 'Spectral', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-primary);
}