<footer class="thank-you-container" id="contacto">

    <div class="thank-you-text">
        <p>
            ¡Wow, has llegado hasta aquí! Si algo te ha molado o tienes una idea chulísima, no dudes en
            darme un toque. ¡Los enlaces
            están ahí abajo, y me encantaría saber qué piensas! 🤩
        </p>
        <h2>✨¡Gracias!✨</h2>
    </div>

    <div class="contact-buttons">
        <a href="https://www.linkedin.com/in/nuriafernandezz/" target="_blank" class="linkedin">
            <img src="images/mdi_linkedin.svg" alt="LinkedIn" />
        </a>
        <a href="https://github.com/nuria-cmyk" target="_blank">
            <img src="images/Vector-1.svg" alt="GitHub" />
        </a>
        <a href="mailto:nuria.fernandez.val@gmail.com">
            <img src="images/Vector.svg" alt="Email" />
        </a>
    </div>

    <div class="footer-text">
        Esta web la he construido desde cero con mis propias manos, (y un montón de código) ¡Y aquí está, funcionando
        como una campeona!
    </div>

</footer>