<footer class="thank-you-container" id="contacto">

    <div class="contact-buttons">
        <a href="https://www.linkedin.com/in/mostridev/" target="_blank" class="linkedin">
            <img src="images/mdi_linkedin.svg" alt="LinkedIn" />
        </a>
        <a href="https://github.com/FranMor1/" target="_blank">
            <img src="images/Vector-1.svg" alt="GitHub" />
        </a>
        <a href="mailto:info@mostri.dev">
            <img src="images/Vector.svg" alt="Email" />
        </a>
    </div>


</footer>